@page
@model AliveStoreTemplate.Pages.BuildPersonalPageModel
@{
    ViewData["Title"] = "BuildPersonalPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="ui text container">
    <div class="row">
        <h4 class="ui dividing header">填寫個人資料</h4>
         <div class="ui aligned basic segment">
            <form method="post" class="ui form">
                <div class="my-2">
                    <label asp-for="@Model.member.Account" class="control-label"></label>
                    <input asp-for="@Model.member.Account" class="form-control" readonly="readonly" />
                </div>
                <div class="my-2">
                    <label asp-for="@Model.member.NickName" class="control-label"></label>
                    <input asp-for="@Model.member.NickName" class="form-control"/>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.member.PhoneNumber" class="control-label"></label>
                    <input asp-for="@Model.member.PhoneNumber" class="form-control"/>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.member.Email" class="control-label"></label>
                    <input asp-for="@Model.member.Email" class="form-control"/>
                </div>
                <div class="my-2">
                <label class="control-label" asp-for="@Model.member.Sex"></label>
                    @*<div>
                        <input type="radio" id="male" name="drone" value="male">
                        <label for="male">男</label>
                    </div>
                    <div>
                      <input type="radio" id="female" name="drone" value="female">
                      <label for="female">女</label>
                    </div>
                    <div>
                      <input type="radio" id="secret" name="drone" value="secret">
                      <label for="secret">保密</label>
                    </div>*@
                    <div>
                         @foreach (var gender in Model.Genders)
                        {
                            <input type="radio" asp-for="Gender" value="@gender" />@gender<br />
                        }
                    </div>
                </div>
                <div class="my-2">
                    <img />
                </div>
                <div class="my-2">
                    <label asp-for="member.RegisterTime" class="control-label"></label>
                    <input asp-for="member.RegisterTime" class="form-control" readonly="readonly"/>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.member.UpdateTime" class="control-label"></label>
                    <input asp-for="@Model.member.UpdateTime" class="form-control" readonly="readonly"/>
                </div>
                <button class="ui button center" asp-page-handler="PatchMemberInfo">送出</button>
                @*<button class="ui button center" asp-page-handler="ReturnNew" onsubmit="preventDefault()">送出123</button>*@
            </form>
                @*<span class="text-danger">@Html.DisplayFor(model => model.Count)</span>*@

        </div>
    </div>
</div>

<script>
    //$(function(){
    //   $.ajax({
    //        type:"Get",
    //        url:"@Url.Action("MemberInfo","MemberInfo")",
    //        dataType:"json",
    //        success:function(response){
    //            var data = response.results[0]
    //            console.log(data)
    //            $('#account').val(data.account)
    //            $('#nickName').val(data.nickName)
    //            $('#phoneNumber').val(data.phoneNumber)
    //            $('#email').val(data.email)
    //            $('#registerTime').val(data.registerTime)
    //            $('#updateTime').val(data.updateTime)
    //            console.log("Test")
    //            var sex = data.sex
    //            $("#"+sex).attr("checked", "checked");
    //        },
    //        error:function(response){
    //            location.href = "./Login"
    //        }
    //    })


    //})

    //function PatchMemberInfo(){
    //    let account = $('#account').val()
    //    let nickName = $('#nickName').val()
    //    let phoneNumber = $('#phoneNumber').val()
    //    let email = $('#email').val()

    //    let formData = {
    //        "account": account,
    //        "nickName": nickName,
    //        "phoneNumber": phoneNumber,
    //        "email": email
    //    };
        
    //    $.ajax({
    //        type:"Patch",
    //        url:"@Url.Action("PatchMemberInfo","MemberInfo")",
    //        data : JSON.stringify(formData),
    //        // 告訴jQuery不要去處理髮送的資料
    //        processData : false, 
    //        // 告訴jQuery不要去設定Content-Type請求頭
    //        contentType : 'application/json;charset=UTF-8', //contentType很重要 
    //        dataType:'json',
    //        success:function(response){
    //            console.log(response)
    //            location.href = "./Personal"
    //        },
    //        error:function(response){
    //           console.log(response)
    //        }
    //    })
    //}

</script>

