@page 
@*@page "{category?}/{subCategory?}"*@
@model AliveStoreTemplate.Pages.categoryModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
 @*category 分类页*@
<article class="page category">
    <div class="content-con">
        <h2 class="page-tit"><em>@Model.CardList[0].Category</em></h2>
        <!--filter 分类筛选-->
        <section class="filter">
            <section class="filter-menu">
                <a id="btnCategory" class="btn-category"><i class="icon-cate"></i>商品分類</a>
                <ul class="menu-category">
                    <li><a href="category" class="active"><em>SONY</em></a></li>
                </ul>
            </section>
            <section class="filter-rank">
                <a href="#" class="active"><i class="icon-star"></i>新品</a><a href="#">价格<i class="icon-price"></i></a>
            </section>
            <section class="filter-category">
                <ul>
                    <li><a href="category" class="active">SONY</a></li>
                    <li><a href="category">BOSE</a></li>
                    <li><a href="category">JBC</a></li>
                    <li><a href="category">Mi</a></li>
                    <li><a href="category">小米</a></li>
                    <li><a href="category">华为</a></li>
                    <li><a href="category">米家智能</a></li>
                    <li><a href="category">索尼</a></li>
                </ul>
            </section>
        </section>
        <!--/filter 分类筛选-->
        <!--products 产品列表-->
        <section class="products">
            <ul class="list-prod" id="product_list">
                @foreach (var item in @Model.CardList)
                {
                    <li>
                        <div class="prod">
                            <a asp-page="./product" asp-route-productId="@item.ProductId" class="prod-photo" style="background-image: url('@item.ImgUrl');"></a>
                            <section class="prod-info">
                                <p class="prod-cate">@Html.DisplayFor(modelItem => item.CardName)</p>
                                <a href="product" class="prod-name">@item.CardName</a>
                                <p class="prod-intro"></p>
                                <p class="prod-price">
                                    <span class="price-orignal">1500</span>
                                    <span class="price-discount">@item.Price</span>
                                </p>
                            </section>
                        </div>
                    </li>
                }
            </ul>
        </section>
        <!--/products 产品列表-->
        <!--pager 页次-->
        <section class="pager">
            @*<asp:Literal runat="server" ClientIDMode="Static" ID="PageList"></asp:Literal>*@
            <a href="?p=">&lt;</a>
            <span>1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="?p=">&gt;</a>
        </section>
    </div>

    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
</article>