@page 
@model AliveStoreTemplate.Pages.productModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<article class="page product">
    <div class="content-con">
        @*path 路径*@
        <section class="path">
            <a href="/">HOME</a>
            <a asp-page="category" asp-route-category="@Model.CardInfo.Category" asp-route-subCategory="">@Model.CardInfo.Category</a>
            <a asp-page="category" asp-route-category="@Model.CardInfo.Category" asp-route-subCategory="@Model.CardInfo.Subcategory">@Model.CardInfo.Subcategory</a>
        </section>
        @* /path 路径*@
        @*product 产品*@
        <article class="product">
            @*product-photo 产品照片*@
            <section class="product-photo">
                <figure class="photo-view">
                    
                    <img src="@Model.CardInfo.ImgUrl" />
                    
                </figure>
            </section>
            @*product-info 產品資訊*@
            <section class="product-info">
                <div class="info-con">
                    <form class="ui form" method="post">
                        <h2 class="info-tit" id="info-tit">@Model.CardInfo.CardName</h2>
                        <input type="hidden" asp-for="@Model.CardInfo.ProductId"/>
                        @if(@Model.CardInfo.Abilities != null){
                            @foreach(var item in @Model.CardInfo.Abilities)
                            {
                                <p style="color:red">特性：</p><p class="info-intro" id="info-intro">@item.AbilityName</p>
                                <p class="info-intro" id="info-intro">@item.AbilityDesc</p>
                            }
                        }
                        @if (@Model.CardInfo.Moves != null)
                        {
                            @foreach(var item in @Model.CardInfo.Moves)
                            {
                                <p style="color:green">招式：</p><p class="info-intro" id="info-intro">@item.MoveName</p>
                                <p class="info-intro" id="info-intro">@item.MoveDesc</p>
                            }                            
                        }
                        <p class="info-intro" id="info-intro">血量：@Model.CardInfo.HP</p>
                        <p class="info-price">
                            <span class="price-orignal" id="info-price">1500</span><span class="price-discount" id="info-secprice">@Model.CardInfo.Price</span>
                        </p>
                        <select class="inp-block" id="orderCount" asp-for="@Model.OrderCount">
                            @for(var x =1; x <= (Model.CardInfo.Inventory > 5 ? 5 : Model.CardInfo.Inventory); x++)
                            {
                                <option value="@x">@x</option>
                            }
                        </select>
                        
                        <section class="info-action">
                            <button class="ui blue button" type="submit" asp-page-handler="AddToCartBySession">加入購物車(Session)</button>
                        </section>
                    </form>
                </div>
            </section>
            @*product-intro 商品介绍*@
            <section class="product-intro">
                <h3><em>商品介绍</em><span></span></h3>
                <div class="intro-detial">
                    <p>卡片及規格</p>
                    <p>
                        <img class="product_img" src="img/ill_prodintro1.jpg" alt="" />
                    </p>
                </div>
            </section>
            
        </article>
        @*/product 产品*@
    </div>
</article>
